
body {
    display: flex;
    justify-content: center;   /* horizontaal centreren */
    align-items: flex-start;   /* bovenaan beginnen */
    font-family: Arial, sans-serif;
        }
#app{
       display: flex;
            flex-direction: column;
            gap: 12px;
}
#game-area, #hud{
    display: none;
}
#start-screen {
    width: 600px;
    height: 600px;
    background: #1e2a4f;
    color: white;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 16px;
}

#start-screen h1 {
    margin: 0;
    font-size: 32px;
}

#start-screen .instruction {
    font-size: 20px;
    font-weight: bold;
    margin: 16px 0 8px;
}

#start-screen .sub-instruction {
    font-size: 14px;
    opacity: 0.8;
}
        #game-area {
            position: relative;
            width: 600px;
            height: 600px;
            background: #7DA9E6;
            overflow: hidden;
            border-radius: 16px;
            margin-bottom: 16px;
        }

        #player {
            position: absolute;
            bottom: 10px;
            width: 80px;
            transform: translateX(160px);
            transition: transform 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
        }

        #player img {
            width: 100%;
        }

        .fruit {
            position: absolute;
            width: 40px;
        }

        #hud {
            width: 400px;
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            margin-bottom: 8px;
        }
        
#gameover-screen {
    width: 400px;
    background: #1e2a4f;
    color: white;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
}

#gameover-screen h2 {
    margin-top: 0;
}

#highscore-list {
    padding-left: 0;
    list-style: decimal;
}

#early-restart-hint{
    margin-top: 12px;
    font-size: 14px;
    opacity: 0.8;
}